@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
*{
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

html {
    min-width: 375px;
    max-width: 1440px;
    margin: auto;
}

body {
    width: 90%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(images/bg-pattern-top-mobile.svg), 
                url(images/bg-pattern-bottom-mobile.svg);
    background-position: top, bottom;
    background-repeat: no-repeat;
}

header {
    margin-top: 5rem;
}

header h1 {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}

header p {
    color: hsl(303, 10%, 53%);
    font-weight: 500;
    font-size: 0.9em;
    line-height: 1.5em;
    padding: 1em 0em;
}

.rating {
    background-color: hsl(300, 24%, 96%);
    margin: 1em 0em;
    width: 100%;
    padding: 1em 2em;
    border-radius: 10px;
}

.rating h2 {
    font-size: 1em;
    color: hsl(300, 43%, 22%);
    padding-top: 0.5em;
}

.review {
    background-color:hsl(300, 43%, 22%);
    margin: 1em;
    text-align: start;
    border-radius: 5px;
    padding: 1.5em;
}

.review img {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin: 1em;
}

.profile {
   display: flex;
   align-items: center;
}

.profile h3 {
    display: flex;
    flex-direction: column;
    text-align: start;
    font-size: 0.9em;
    color: white;
}

.profile span {
    color: hsl(333, 80%, 67%);
    font-weight: 300;
    padding-top: 0.4;
}